.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
form .form-content {
  flex: 1;
}
form .form-content input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #c6c6c6;
}
form .form-content span {
  padding: 10px;
  font-size: 0.8em;
  color: rgb(234, 107, 107);
}

.error {
  color: #df4747;
  border: 1px solid #df4747;
  background: #fff5f5;
}

button {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  background-color: #514d4d;
  align-self: end;
}